site_name: Sheeep's Zone
site_url: https://qiqiqihy.github.io/Sheeep-Zone/
site_author: qiqiqihy
site_description: A blog about SLAM and more.

theme:
  name: material
  features:
    - navigation.tabs
    - search.suggest
  font:
    text: Noto Sans SC
    code: Roboto Mono

nav:
  - Home: index.md
  - SLAM Basics:
      - SIFT特征: SLAM-Basics-SIFT.md
      - GFTT: SLAM-Basics-GFTT.md
      - SURF: SLAM-Basics-SURF.md

markdown_extensions:
  - attr_list
  - md_in_html
  - footnotes
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.blocks.caption
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js